@import './../common/base.less';
@import './../common/my-common.less';
@import './../common/page.less';

body,html {
  background: #f6f6f6;
}

.page-wrap {
  position: relative;
  width: 100%;
  background: #f6f6f6;
  padding: 127px 80px 0 293px;
  .main-wrap {
    width: 100%;
    min-height: 500px;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(201, 201, 201, 0.2);
    padding: 35px 106px 80px 47px;
    margin-bottom: 100px;
    .main-title {
      margin-bottom: 26px;
      color: #34495C;
      font-size: 18px;
    }
		
		.tab {
			.tab-switchs {
				position: relative;
				height: 54px;
				border-bottom: 1px solid #D0D0D0;
				padding-top: 14px;
				ul {
					position: absolute;
					left: 0;
					bottom: -2px;
					list-style: none;
					li {
						float: left;
						margin-right: 30px;
						a {
							display: block;
							color: #9D9D9D;
							font-size: 16px;
							padding-bottom: 18px;
						}
						&.active {
							border-bottom: 3px solid #42BAAE;
							a {
								color: #42BAAE;
							}
						}
					}
				}
			}
			.tab-contents {
				margin-top: 28px;
				.tab-content {
					display: none;
					&.active {
						display: block;
					}
					table {
						table-layout: fixed;
						border: 1px solid #E7E7EB;
						border-bottom: none;
						th, td {
							font-size: 14px;
							color: #3E4D55;
							border-bottom: 1px solid #E7E7EB;
							padding: 14px 0 14px 20px;
							a {
								font-size: 14px;
								color: #3E4D55;
								margin-right: 24px;
							}
						}
						th {
							background-color: #F4F5F9;
							vertical-align: middle;
							text-align: left;
						}
					}
				}
			}
		}
  }
 }


