.my-header {
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  padding: 12px 2%;
  background: #fff;
  box-shadow: 0px 1px 6px #ddd;
  .logo {
		float: left;
		width: 174px;
		height: 42px;
    background: url(../../images/logo.png) no-repeat center;
    background-size: cover!important;
  }
  .user-info {
    float: right;
    .top {
      font-size: 0;
      margin-right: 60px;
      .user-head {
        display: inline-block;
        height: 42px;
        width: 42px;
        background: #ddd;
        vertical-align: middle;
      }
      .user-cname {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: 42px;
        color: #34495c;
        margin-left: 10px;
        cursor: pointer;
        &::after {
          display: block;
          position: absolute;
          content: "";
          right: -16px;
          top: 19px;
          border: solid transparent 4px;
          border-top-color: #A1A1A1;
          cursor: pointer;
          #transition;
          transform-origin: 50% 25%;
        }
      }
      &.show {
        .user-cname::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.my-left-nav {
  position: absolute;
  top: 127px;
  left: 0;
  width: 293px;
  background: inherit;
  .list-wrap {
    width: 124px;
    margin: auto;
    padding-left: 20px;
    .items-wrap {
      padding-bottom: 32px;
      margin-bottom: 32px;
      border-bottom: #c7d9eb 1px solid;
      &.last {
        border: none;
      }
      dt {
        position: relative;
        display: block;
        font-size: 16px;
        color: #34495c;
        margin-bottom: 20px;
        .iconfont {
          position: absolute;
          top: 0;
          left: -20px;
          display: block;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #34495c;
        }
      }
      dd {
        display: block;
        margin: 10px 0;
        font-size: 0;
        a {
          display: inline-block;
          font-size: 14px;
          color: #34495c; 
          vertical-align: middle;
          line-height: 20px
        }
        .point {
          display: inline-block;
          vertical-align: middle;
          line-height: 20px;
          font-size: 12px;
          padding: 0 16px;
          background: #ED5F5F;
          color: #fff;
          text-align: center;
          font-style: normal;
          border-radius: 10px;
          margin-left: 6px;
        }
        &.active a {
          color: #38A5A7;
        }
      }
    }
  }
}

.my-footer {
  padding: 16px 0 30px;
  font-size: 14px;
  color: #AEAEAE;
  border-top: 1px solid #E4E4E4;
  width: 100%;
  background: inherit;
}
