<header class="my-header clearfix">
  <a href="/" class="logo"></a>
  <div class="user-info">
    <div class="top clearfix">
      <img class="user-head" src="" alt="" />
      <p class="user-cname"><%= cname %></p>
    </div>
  </div>
</header>