<header class="my-header clearfix">
  <a href="/" class="logo" title="职业信息联盟"></a>
  <div class="user-info">
    <div class="top clearfix2">
      <!-- <img class="user-head" src="" alt="" /> -->
      <div class="user-cname">
      	<%= cname %>
      	<ul>
					<li><a href="/my/info" class="account">账号信息</a></li>
					<li><a href="/logout" class="logout">退出登录</a></li>
      	</ul>
      </div>
    </div>
  </div>
</header>