<div class="my-left-nav">
  <ul class="list-wrap">
    <li class="items-wrap">
      <dl>
          <dt><i class="chainio-icon-trumpet iconfont"></i>联盟概况</dt>
          <dd class="<% if(page === 'info') { %>active<% } %>"><a href="#">账号信息</a></dd>
        </dl>
    </li>
    <li class="items-wrap">
      <dl>
        <dt><i class="chainio-icon-mokuai iconfont"></i>联盟背调</dt>
        <dd><a href="#">发起背调</a></dd>
        <dd><a href="#">收到背调</a></dd>
        <dd><a href="#">背调记录</a></dd>
        <dd><a href="#">背调积分</a></dd>
      </dl>
    </li>
    <li class="items-wrap last">
      <dl>
        <dt><i class="chainio-icon-set iconfont"></i>设置</dt>
        <dd><a href="#">账号设置</a></dd>
      </dl>
    </li>
  </ul>
</div>