@import './common/base.less';
@import './lib/bootstrap-responsive.less';

body {
  font-family: "Microsoft YaHei","微软雅黑","Open Sans",PingFangSC-Light,Arial,"Hiragino Sans GB",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  width: 100%;
  height: 100%;
  // overflow-x: hidden;
  margin: 0;
}

.chainio {
  max-width: 1270px;
  padding: 203px 0 96px;
	.l-p {
		// float: left;
		// width: 580px;
		h2 {
			color: #34495C;
			font-size: 48px;
			margin-top: 30px;
			margin-bottom: 40px;
		}
		h3 {
			color: #34495C;
			font-size: 26px;
			line-height: 38px;
			margin-bottom: 40px;
		}
		.join-union {
			display: inline-block;
			width: 190px;
			height: 50px;
			line-height: 50px;
			font-size: 16px;
			&:hover {
				color: #fff
			}
		}
	}
	.r-p {
		float: right;
		p {
			background: url(../images/lian.png) no-repeat;
			width: 618px;
			height: 454px;
		}
	}
}

.our-product {
	background-color: #F5F8F9;
	padding: 82px 0 120px;
	h2 {
		padding-bottom: 60px;
		text-align: center;
		color: #34495C;
		font-size: 40px;
		overflow: hidden;
  }
  .content-wrap {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
	.words {
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
		padding: 84px 65px 0;
		color: #fff;
		background-color: #40B8B4;
		font-size: 24px;
		p {
			margin-top: 35px;
			font-size: 16px;
			line-height: 36px;
		}
	}
	.advantage {
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
		background-color: #fff;
		padding: 85px 65px;
		.adv-item {
			div {
				float: right;
				width: 295px;
				border-bottom: solid 1px #DFDFDF;
				padding-bottom: 20px;
				color: #34495C;
				font-size: 20px;
				p {
					margin-top: 10px;
					font-size: 16px;
				}
			}
			span {
				float: left;
				width: 76px;
        height: 76px;
        background-size: contain!important;
				&.efficiency {
					background: url(../images/efficiency.png) no-repeat center;
				}
				&.cost {
					background: url(../images/cost.png) no-repeat center;
				}
				&.veracity {
					background: url(../images/veracity.png) no-repeat center;
				}
			}
			&.pic-right {
				div {
					float: left;
				}
				span {
					float: right;
				}
			}
		}
	}
}

.tec-process {
	background-color: #40B8B4;
	padding: 82px 0 120px;
	h2 {
		padding-bottom: 60px;
		text-align: center;
		color: #fff;
		font-size: 40px;
		overflow: hidden;
	}
	.steps {
		width: 862px;
		margin: 0 auto;
		line-height: 30px;
		color: #fff;
		p {
      display: inline-block;
      font-size: 16px;
      margin: auto 30px auto auto;
		}
	}
	.process-pic {
		margin: 90px auto 0;
		background: url(../images/process.png) no-repeat;
		width: 849px;
		height: 660px;
	}
}

.about-us {
	background-color: #fff;
	padding: 82px 0 120px;
	h2 {
		padding-bottom: 60px;
		text-align: center;
		color: #34495C;
		font-size: 40px;
		overflow: hidden;
	}
	.content {
		text-align: center;
		color: #34495C;
		font-size: 16px;
		line-height: 40px;
	}
}

.roadmap {
	position: relative;
	background-color: #F2F6FA;
	height: 583px;
	padding-top: 82px;
	h2 {
		text-align: center;
		color: #34495C;
		font-size: 40px;
		overflow: hidden;
	}
	.line {
		position: absolute;
		top: 350px;
		height: 1px;
		font-size: 0;
		background-color: #E1EBF5;
		width: 100%;
		.map {
			position: absolute;
			max-width: 1200px;
			left: 0;
			right: 0;
			margin: 0 auto;
			.up {
				&.m1, &.m3 {
					left: 10px;
					position: absolute;
					top: -109px;
					background: url(../images/up.png) no-repeat;
					width: 26px;
					height: 120px;
					p {
						position: absolute;
				    left: 34px;
						top: -28px;
						width: 240px;
						color: #34495C;
						font-size: 16px;
						line-height: 20px;
					}
				}
				&.m3 {
					left: 610px;
				}
			}
			.down {
				&.m2, &.m4 {
					left: 310px;
					position: absolute;
					top: -10px;
					background: url(../images/down.png) no-repeat;
					width: 26px;
					height: 120px;
					p {
						position: absolute;
				    left: 34px;
						top: 89px;
						width: 240px;
						color: #34495C;
						font-size: 16px;
						line-height: 20px;
					}
				}
				&.m4 {
					left: 910px;
				}
			}
		}
	}
}

.co {
	background-color: #fff;
	padding: 82px 0 82px;
	h2 {
		margin-bottom: 82px;
		text-align: center;
		color: #34495C;
		font-size: 40px;
		overflow: hidden;
	}
	.logos {
		max-width: 1270px;
		margin: 0 auto;
		.logo-item {
			float: left;
      width: 20%;
			p {
				width: 134px;
				height: 62px;
				background-repeat: no-repeat;
        background-position: center;
        background-size: contain!important;
				margin: 10px auto;
				&.frees {
					background-image: url(../images/logos/fengrui.png);
				}
				&.xinghe {
					background-image: url(../images/logos/xinghe.png);
				}
				&.lvchengzhongguo {
					background-image: url(../images/logos/lvchengzhongguo.png);
				}
				&.hailiang {
					background-image: url(../images/logos/hailiang.png);
				}
				&.wacai {
					background-image: url(../images/logos/wacai.png);
				}
				&.jinzhouyinhang {
					background-image: url(../images/logos/jinzhouyinhang.png);
				}
				&.yangguangbaoxian {
					background-image: url(../images/logos/yangguangbaoxian.png);
				}
				&.kuaishou {
					background-image: url(../images/logos/kuaishou.png);
				}
				&.paipaidai {
					background-image: url(../images/logos/paipaidai.png);
				}
				&.liepin {
					background-image: url(../images/logos/liepin.png);
				}
				&.okcoin {
					background-image: url(../images/logos/okcoin.png);
				}
			}
		}
	}
}

.btn-hover (@bg, @c: #fff, @offset: 5%) {
    &:hover {
    	color: #fff;
      background: darken(@bg, @offset);
      text-decoration: none;
    }
}

.btn-main, .btn-gray {
	border-radius: 16px;
	color: #fff;
	font-size: 14px;
	background-color: #40B8B4;
	text-align: center;
	-webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
  transition: all .2s cubic-bezier(.4,0,.2,1);
}

.btn-main {
	background-color: #40B8B4;
	.btn-hover(#40B8B4);
}

.btn-gray {
	background-color: #E5EBEB;
	.btn-hover(#E5EBEB);
}


@media only screen and (max-device-width: 768px) {
  @import "./index/index-phone.less";
}

