<header class="container-fluid clearfix front-header">
    <div class="row">
      <div class="col-12">
        <a href="/" class="logo" title="去中心化的职业信用联盟"></a>
        <i class="icon-nav-btn"></i>
        <ul class="nav-links">
          <li><a href="#top">首页</a></li>
          <li><a href="#ourProduct">我们的产品</a></li>
          <li><a href="#tecProcess">技术及流程</a></li>
          <li><a href="#aboutUs">关于我们</a></li>
          <li><a href="#roadmap">线路图</a></li>
          <li><a href="#co">合作伙伴</a></li>
          <!-- <li><a href="#" class="btn-rl btn-gray btn-register">注册</a></li>
          <li><a href="/login" class="btn-rl btn-main btn-login">登录</a></li> -->
        </ul>
      </div>
    </div>
  </header> 