<footer class="front-footer">
  <div class="logo-row">
    <div class="container clearfix">
      <div class="row">
        <div class="col-2 col-xs-12">
          <a href="/" class="logo" title="去中心化的职业信用联盟"></a>
        </div>
        <div class="col-10 col-xs-12">
          <ul class="nav-links">
            <li><a href="#ourProduct">我们的产品</a></li>
            <li><a href="#tecProcess">技术及流程</a></li>
            <li><a href="#aboutUs">关于我们</a></li>
            <li><a href="#roadmap">线路图</a></li>
            <li><a href="#co">合作伙伴</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-row">
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-12">
          <p class="text">Copyright © 2018 杭州有才信息技术有限公司. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>