<div class="nav-mobile">
  <div class="shadow"></div>
  <div class="content">
    <a href="javascript:;" class="btn-close">X 关闭</a>
    <ul class="nav-links">
        <li><a href="#top">首页</a></li>
        <li><a href="#ourProduct">我们的产品</a></li>
        <li><a href="#tecProcess">技术及流程</a></li>
        <li><a href="#aboutUs">关于我们</a></li>
        <li><a href="#roadmap">区块链图</a></li>
        <li class="last"><a href="#co">合作伙伴</a></li>                
        <li class="last pt-0"><a href="/login" class="btn-main btn-login">登录</a></li>
    </ul>
  </div>
</div>